.footer{
    display: flex;
    justify-content: space-around;
    padding: 2%;
    background-color: #0556B1;

    .content-footer{
        display: flex;
        flex-direction: column;
        align-items: center;

        & h5{
            font-size: 3vh;
            color: #fff;
        }

        & ul{
            list-style: none;

            & li, a, p{
                color: #ffffff82;
                font-size: 2vh;
                text-decoration: none;
            }
        }

        & p{
            color: #ffffff82;
            font-size: 2vh;
            text-decoration: none;
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    background-color: grey;

    & p{
        text-align: center;
        font-size: 1.5vh;
        color: #ffffff82;
    }
}

#reclamos-nose{
    text-decoration: none;
    color: #fff;

}

#ico-float{
    position: fixed;
    bottom: 5vh;
    right: 1vh;
    z-index: 99;

    display: flex;
    flex-direction: column;
    gap: 1vh;

    & a{
        width: 10vh;
        height: 10vh;

        & img {
            height: 100%;
            width: 100%;

            object-fit: cover;
        }
    }
}


@media (max-width: 1024px){

    .footer{
        flex-direction: column;
        gap: 2vh;
    }

}